* {
  font-family: 'Google Sans', sans-serif;
}

body {
  padding: 30px 20px;
}

button#sign-in {
  background-color: #d84a38;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 10px;
  width: 100%;
}

button:active#sign-in {
  background-color: #cf402f;
}

button:hover#sign-in {
  background-color: #cf402f;
}

button#sign-in[disabled] {
  color: #ccc;
}

button#sign-in[disabled]:hover {
  background-color: #d84a38;
}

form {
  margin: 0 0 40px 0;
}

input {
  font-family: 'Google Sans Light', sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin: 0 0 40px 0;
  padding: 15px;
  width: calc(100% - 34px);
}

input[type=email]:not(:placeholder-shown):invalid {
  outline-color: red;
  outline-offset: -2px;
  outline-style: auto;
}

label {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 5px 0;
}

main {
  margin: 0 auto 0 auto;
  max-width: 400px;  
}



