* {
  font-family: Google Sans, sans-serif;
}

form div {
  margin: 0 0 20px 0;
}

input {
  font-size: 18px;
  font-weight: 300;
  padding: 8px;
  top: 0;
  width: calc(100% - 40px);
}

label {
  display: inline-block;
  width: 100px;
}

main {
  border: 1px solid red;
  margin: 0 auto 0 auto;
  max-width: 750px;  
}

