* {
  font-family: 'Google Sans', sans-serif;
}

a[href=forgot-password] {
  display: block;
  font-family: 'Google Sans Light', sans-serif;
  font-size: 20px;
  height: 18px;
  margin: 0 0 30px 0;
  text-align: center;
}

a[href=sign-in] {
  display: block;
  text-align: center;
}

body {
  padding: 20px 20px;
}

button#toggle-password {
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Google Sans Light', sans-serif;
  font-size: 19.5px;
  font-weight: 300;
  padding: 0;
  position: absolute;
  top: 0;
  right:  0;
}

button#create-account {
  background: white;
  border: 1px solid #333;
  border-radius: 2px;
  color: #333;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 30px 0;
  padding: 15px 10px;
  width: 100%;
}

button#create-account:active {
  border: 1px solid black;
  color: black;
}

button#create-account:hover {
  border: 1px solid black;
  color: black;
}

button#sign-in {
  background-color: #333;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 15px 10px;
  width: 100%;
}

button#sign-in:active {
  background-color: black;
}

button#sign-in:hover {
  background-color: black;
}

button#sign-in[disabled] {
  color: #ccc;
}

button#sign-in[disabled]:hover {
  background-color: #d84a38;
}

div {
  position: relative;
}

form {
  margin: 0 0 35px 0;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

h2 {
  margin: 0 0 30px 0;
  text-align: center;
}

hr {
  border-top: none;
  border-bottom: 1px solid #eee;
  margin: 0 0 30px 0;
}

input {
  border: 1px solid #eee;
  font-family: 'Google Sans Light', sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin: 0 0 30px 0;
  padding: 15px;
  width: calc(100% - 34px);
}

input[type=email]:not(:placeholder-shown):invalid {
  outline-color: red;
  outline-offset: -2px;
  outline-style: auto;
}

label {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 5px 0;
}

main {
  margin: 0 auto 0 auto;
  max-width: 400px;  
  min-width: 200px;
}

p#privacy-policy {
  font-family: 'Google Sans Light', sans-serif;
  font-size: 15px;
  font-weight: 100;
  line-height: 25px;
  margin: 0 0 30px 0;
  text-align: center;
}

@media (min-width: 450px) {
  a[href=forgot-password] {
    font-size: 15px;
  }

  body {
    padding: 30px 20px;
  }



  button#create-account {
    font-size: 16px;
  }

  button#sign-in {
    font-size: 16px;
  }

  button#toggle-password {
    font-size: 15px;
  }
}


